<?xml version="1.0"?>
<ljdump>
    <server>http://livejournal.com</server>
    <username>lj_username</username>
    <password>mysecretpassword</password>
    <e2server>localhost</e2server>
    <e2database>e2db</e2database>
    <e2user>root</e2user>
    <e2password></e2password>
    <e2tabprefix>e2Blog</e2tabprefix>
    <offset>14400</offset>
    <addtags>LiveJournal, по-русски,with space, specialchars$@#$</addtags>
    <ignoretag>e2import</ignoretag>
</ljdump>
